@page "/login"
@inject ISpotifyService SpotifyService;
@inject NavigationManager NavigationManager;
@inject IManagerSpotifyLocalStorageService SpotifylocalStorage;
<PageTitle>Login</PageTitle>
<div class="containerLogin">
    <div class="base flex flex-center">
        <img src="/images/spotify-logo-inicio.png" alt="">
        <button @onclick=@OnChangeOpenSpotify>
            Abrir meu Spotify
        </button>
    </div>
</div>
@code {


    protected override void OnInitialized()
    {
        var token = SpotifyService.GetTokenUrlCallback(NavigationManager.Uri);
        if (!string.IsNullOrEmpty(token))
        {
            SpotifyService.DefineAccessToken(token);
            SpotifylocalStorage.SaveToken(token);
            NavigationManager.NavigateTo("/player");
        }
    }

    public void CheckTokenUrlCallback()
    {

    }
    public void OnChangeOpenSpotify()
    {
        NavigationManager.NavigateTo(SpotifyService.GetUrlLogin());
    }
}
