@page "/player"
@attribute [Authorize]
@inject IManagerSpotifyLocalStorageService SpotifylocalStorage
@inject AuthenticationStateProvider _authStateProvider
@inject ISpotifyService SpotifyService
@inject NavigationManager NavigationManager
@inject AppDataService AppData;

<div class="containers">
    <DynamicComponent Type=@GetSelectType() />
</div>

@code {

    protected override void OnInitialized()
    {
        AppData.OnChange += StateHasChanged; ;
    }
    public Type GetSelectType()
    {
        Console.WriteLine(AppData.menuSelecionado);
        if (AppData.menuSelecionado == "Search")
        {
            return typeof(Search);
        }
        if (AppData.menuSelecionado == "Artists")
        {
            return typeof(Artists);
        }
        return typeof(PlayerHome);
    }
}
