<div class="flex container mt-1" >
    <img src="@imagemSrc">
    <span>
        olamund
    </span>
</div>
@code {
    [Parameter]
    public string imagemSrc { get; set; } 


    protected override async void OnInitialized()
    {


    }
}
