@inject ISpotifyService SpotifyService
@inject NavigationManager NavigationManager
@if (user is not null)
{
    <div class="containerBaseBoard flex">
        <img src=@user.imageUrl alt="" srcset="">
        <span>
            @user.Name
        </span>
        <i class="icone bi bi-box-arrow-left" @onclick=Logout></i>
    </div>
}

@code {
    public User user = null;

     protected override async Task OnInitializedAsync()
    {
       await SpotifyService.GetSpotifyUser();
       this.user = SpotifyService.GetUser();
        
    }
   protected override async Task OnParametersSetAsync()
    {
         
    }
    public void Logout()
    {
        SpotifyService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}