@inject ISpotifyService SpotifyService
@if (user is not null)
{
    <div class="containerBaseBoard flex">
        <img src=@user.imageUrl alt="" srcset="">
        <span>
            @user.Name
        </span>
        <i class="bi bi-box-arrow-left"></i>
    </div>
}

@code {
    public User user = null;

    protected override void OnInitialized()
    {
        this.user = SpotifyService.GetUser();
    }

    public void Logout()
    {
        SpotifyService.Logout();
    }
}