@inject ISpotifyService SpotifyService
<div class="mt-5">
<span class="titulo" > Top 5 Artistas</span>

@foreach(var artist in artists){
<ArtistItemImage imagemSrc=@artist.ImageUrl > @artist.Name</ArtistItemImage>
}
</div>


@code {
  public Artist[] artists {get;set;} = new Artist[0];

  protected override async Task OnInitializedAsync(){
   await this.buscarTopArtistas();
  }

  public async Task buscarTopArtistas(){
    artists = await SpotifyService.SearchTopArtists(5);
  }
}