@inject ISpotifyService SpotifyService

<div class="card p-20 mt-2 d-block">
  <div class="artista flex">
    <span class="titulo fs-3">
      @topArtista.Name
    </span>
  </div>
  <div class="image" style="background-image: url('@topArtista.ImageUrl')">
  </div>
</div>

@code {
  public Artist topArtista = new Artist();

  protected override async Task OnInitializedAsync()
  {
    await buscarArtista();
  }

  public async Task buscarArtista()
  {

    var artists = await SpotifyService.SearchTopArtists(1);

    if (artists is not null)
    {
      this.topArtista = artists.First();
    }
  }



}